<div class="my-4 p-4 header">
  <h1 class="texto-header display-4">Jasón Mongrillo Díaz</h1>
  <h1 class="texto-header display-4"> </h1>
  <span class="texto-header fs-2">Developer</span>
</div>

<div class="container">
  <div class="row">
    <!-- RIGTH SIDE -->
    <div class="col-md-6 col-sm-12 rigth-side">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <span>phone:</span>
          </div>
          <div class="col-9">
            <span>6213-0935</span>
          </div>
      </div>
      </div>
    </div>

    <!-- LEFT SIDE -->
    <div class="col-md-6 col-sm-12 left-side">
      <h2 class="text-center">PROFILE</h2>
      <div class="container">
        <span class="text-justify">I am a junior developer, I consider myself honest, dedicated, patient, tolerant. I'm
          respectful, I want to learn a lot of new things and do my job the best way. I am multitasking, flexible and
          efficient.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- RIGTH SIDE -->
    <div class="col-md-6 col-sm-12 rigth-side">
      <h2 class="text-center">SKILLS</h2>
      <div class="container">
        <ul>
          <li>C# .NET</li>
          <li>Entity Framework</li>
          <li>OOP</li>
          <li>API REST</li>
          <li>SQL SERVER</li>
          <li>Git</li>
        </ul>
      </div>
    </div>

    <!-- LEFT SIDE -->
    <div class="col-md-6 col-sm-12 left-side experience-info">
      <h2 class="text-center">EXPERIENCE</h2>
      <div class="container">
        <p>E.I ARENAL S.A</p>
        <p>GPM Manager</p>
        <p>2019 - Currently</p>
        <ul>
          <li>Hazard Analysis and Critical Control Point.</li>
          <li>Register food process.</li>
          <li>Personal management.</li>
          <li>Participate meetings with general manager to improve process.</li>
        </ul>

        <hr>

        <p>SUPERMERCADOS CARRANZA</p>
        <p>Cashier Manager</p>
        <p>2017 - 2019</p>
        <ul>
          <li>Provided customer service.</li>
          <li>Solving customer problems.</li>
          <li>Mangement cashier personal.</li>
        </ul>
      </div>

    </div>

    <div class="col-md-6 col-sm-12 rigth-side">
      <h2 class="text-center">EDUCATION</h2>
      <div class="container">
        <div class="education-info">
          <p>UNIVERSIDAD ESTATAL A DISTANCIA</p>
          <p>Diplomado en informática</p>
          <p>2021</p>
        </div>
        <hr>
  
        <div class="education-info">
          <p>COLEGIO TÉCNICO PROFESIONAL LOS CHILES</p>
          <p>Técnico Medio en Contabilidad</p>
          <p>2016</p>
        </div>
      </div>
    </div>
  </div>
</div>