<div class="my-4 p-4 header"> 
    <h1 class="texto-header display-4">Jasón Mongrillo Díaz</h1>
    <h1 class="texto-header display-4"> {{ personalData.name }} </h1>
    <span class="texto-header fs-2">Developer</span>  
</div>

<div class="container">
  <div class="row">
    <!-- RIGTH SIDE
    <div class="col-md-6 col-sm-12 rigth-side">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone-inbound" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
            </span>
          </div>
          <div class="col-9">
            <span>6213-0935</span>
          </div>
      </div>
      </div>
    </div> -->

    <!-- LEFT SIDE -->
    <div class="col-md-12 col-sm-12 top-side">
      <h2 class="text-center">PROFILE</h2>
      <div class="container">
        <span class="text-justify">I am a junior developer, I consider myself honest, dedicated, patient, tolerant. I'm
          respectful, I want to learn a lot of new things and do my job the best way. I am multitasking, flexible and
          efficient.</span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- RIGTH SIDE -->
    <div class="col-md-6 col-sm-12 rigth-side">
      <h2 class="text-center">SKILLS</h2>
      <div class="container">
        <ul>
          <li>C# .NET</li>
          <li>Entity Framework</li>
          <li>OOP</li>
          <li>API REST</li>
          <li>SQL SERVER</li>
          <li>Git</li>
        </ul>
      </div>
    </div>

    <!-- LEFT SIDE -->
    <div class="col-md-6 col-sm-12 left-side experience-info">
      <h2 class="text-center">EXPERIENCE</h2>
      <div class="container">
        <p>E.I ARENAL S.A</p>
        <p>GPM Manager</p>
        <p>2019 - Currently</p>
        <ul>
          <li>Hazard Analysis and Critical Control Point.</li>
          <li>Register food process.</li>
          <li>Personal management.</li>
          <li>Participate meetings with general manager to improve process.</li>
        </ul>

        <hr>

        <p>SUPERMERCADOS CARRANZA</p>
        <p>Cashier Manager</p>
        <p>2017 - 2019</p>
        <ul>
          <li>Provided customer service.</li>
          <li>Solving customer problems.</li>
          <li>Mangement cashier personal.</li>
        </ul>
      </div>

    </div>

    <div class="col-md-6 col-sm-12 rigth-side">
      <h2 class="text-center">EDUCATION</h2>
      <div class="container">
        <div class="education-info">
          <p>UNIVERSIDAD ESTATAL A DISTANCIA</p>
          <p>Diplomado en informática</p>
          <p>2021</p>
        </div>
        <hr>
  
        <div class="education-info">
          <p>COLEGIO TÉCNICO PROFESIONAL LOS CHILES</p>
          <p>Técnico Medio en Contabilidad</p>
          <p>2016</p>
        </div>
      </div>
    </div>
  </div>
</div>